body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #781c1c;
  border-radius: 0;
  border: 0px;
  border-color: black;
}

.navbar-brand {
	padding-top: 10px;
	padding-left: 10px; 
}

.navbar-brand h1 { /* Restaurant name */
  /* font-family: 'Lora', serif; */
  color: #4be329;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #e6e71e;
  margin-top: 0px;
  margin-bottom: 0px;

 /* line-height: 0; */
}
/* .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
} */


#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: black;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px #e6e71e; */
  text-align: center;
  border-bottom: 1px solid yellow;
}
#nav-list a:hover {
  background: #cbf4e9;

 
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */

.jumbotron {
color: black;
background-color: a4f0df;
}

.jumbotron h1 {
	margin-top: 15px;
}



© 2021 GitHub, Inc.